<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            text-align: center;
        }
        body{
            padding-left: 250px;
        }
        td {
            text-align: center;
        }

        .c1 {
            background: chartreuse;
            width: 150px;
        }
    </style>
</head>
<body>
<h3>회원가입 작성</h3>
<table border="1">
    <tr>
        <td class="c1">항목</td>
        <td width="200">입력</td>
    </tr>
    <tr>
        <td class="c1">회원가입</td>
        <td width="200">
            <a href="/member/insert">
                <button>회원가입 go!</button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="c1">회원탈퇴</td>
        <td width="200">
            <a href="/member/del">
                <button>회원탈퇴 go!</button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="c1">회원정보수정</td>
        <td width="200">
            <a href="/member/up">
                <button>회원정보수정 go!</button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="c1">회원검색(개인)</td>
        <td width="200">
            <a href="/member/one">
                <button>회원검색(개인) go!</button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="c1">회원검색(전체)</td>
        <td width="200">
            <a href="/member/all">
                <button>회원검색(전체) go!</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>